{{#if success_msg}}
  <div class="alert alert-success" style="user-select:none;">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
  <div class="alert alert-danger" style="user-select:none;">{{error_msg}}</div>
{{/if}}
{{#if error}}
  <div class="alert  alert-danger" style="user-select:none;">{{error}}</div>
{{/if}}