<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">大家踊跃的提出希望学习的课程,目前我的计划是 webpack + ES6 + vue.js 的课程</p>
  <a href="/ideas" class="btn btn-dark btn-lg">ideas</a> <span style="color: #bbb; padding: 0 10px">|</span>
  <a href="/ideas/add" class="btn btn-dark btn-lg">添加新课程</a>
</div>